nltk
numpy
pandas
selenium
webdriver_manager
Bs4
warnings
string
sentiment_analysis_spanish
wordcloud
textblob
gensim
xlsxwriter
sklearn
scikit-learn
matplotlib
seaborn
plotly
streamlit
urllib
requests
streamlit_player
urllib3
