beautifulsoup4
gensim
matplotlib
numpy
pandas
plotly
regex
requests
seaborn
selenium
sentiment-analysis-spanish
sklearn
scikit-learn
streamlit
streamlit-player 
urllib3
webdriver-manager
wordcloud
XlsxWriter
nltk
